/* .nav-links {
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 17px;
}
.nav-links li {
  list-style: none;
} */
.menu-active {
  color: #00bcd4;
}
.menu {
  color: green;
}
