.cards-items {
  position: relative;
  transition: 0.4s ease-in-out;
}
.cards-items .card-text {
  position: absolute;
  top: 40px;
  left: 20px;
}
.cards-items .card-img {
  border-radius: 7px;
}
.card-text p {
  font-size: 15px;
}
