.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px 7%;
  background-color: #f9f8f6;
}

.main-nav .nav-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.nav-links li a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px;
  color: #021016;
  transition: 0.4s;
  cursor: pointer;
}
