.trip-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.trip-info span {
  color: gray;
}
.recent-trip a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #00bcd4;
  transition: 0.4s;
}

.recent-trip a:hover {
  color: #1fdff8;
}
.trip-title h1 {
  margin-bottom: 40px;
}
