.footer-quick-links li a,
.footer-service-links li a {
  text-decoration: none;
}
.footer-quick-links li,
.footer-service-links li {
  list-style: none;
}
.span-text {
  color: #00bcd4;
  margin-bottom: 40px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media li {
  list-style: none;
}
.get-in-touch li a {
  display: flex;
  color: grey !important;
}
.get-in-touch li {
  list-style: none;
}

.social-media .social-icon,
.get-in-touch .social-icon {
  color: #00bcd4;
  font-size: 25px;
  transition: 0.4s;
  margin-right: 0.5rem !important;
}
.social-icon:hover {
  transform: scale(1.2);
}
.footer-quick-links li a,
.footer-service-links li a {
  color: grey;
}
.footer-quick-links li a:hover,
.footer-service-links li a:hover {
  color: #00bcd4;
}
.footer-quick-links li,
.footer-service-links li,
.get-in-touch li {
  margin-top: 20px;
}
.footer-bg-color,
.copyright-footer {
  background-color: #021016;
}
input:focus {
  border: none;
}

@media screen and (max-width: 768px) {
  .footer-end p,
  span {
    font-size: 15px;
  }
}
