.bg-color1,
.bg-color2 {
  background-color: #021016;
  padding: 20px 40px;
  border-radius: 10px;
}
.bg-color2 {
  background-color: #3cbeee;
}
.best-offers2 p {
  color: gray;
}
.best-offers3 p {
  color: white;
}
.bg-color1 h4 {
  color: #3cbeee;
  padding: 20px 0;
}
.bg-color2 h4 {
  padding: 20px 0;
}
.color-blue {
  color: #3cbeee;
}
.color-black {
  color: black;
}
.best-offers3 button,
.best-offers2 button,
.best-offers1 button {
  background-color: #021016;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
  margin-top: 15px;
  transition: 0.4s;
}
.best-offers1 button {
  background-color: #3cbeee;
  color: white;
}
.best-offers1 button:hover {
  background-color: #021016;
  color: white;
}
.best-offers2 button {
  background-color: white;
  color: #3cbeee;
}
.best-offers2 button:hover {
  background-color: #3cbeee;
  color: white;
}
.best-offers3 button:hover {
  background-color: white;
  color: #3cbeee;
}
.package-title2 h2,
p {
  color: gray;
}
.package-title2 hr {
  color: white;
}
.package-title2 p,
.best-offers3 p {
  padding: 10px 0;
}
