.primary-custom1,
.primary-custom2,
.primary-custom3 {
  color: #fff;
  background-color: #3cbeee;
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  transition: 0.4s;
}
.primary-custom1:hover {
  background-color: #021016;
}
.primary-custom2 {
  background-color: white;
  color: #3cbeee;
}
.primary-custom2:hover {
  background-color: #3cbeee;
  color: white;
}
.primary-custom3 {
  background-color: #021016;
  color: white;
}
.primary-custom3:hover {
  background-color: white;
  color: #3cbeee;
}
