.primary-white,
.primary-blue,
.primary-black {
  color: #fff;
  background-color: #3cbeee;
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  transition: 0.4s;
}
.primary-white:hover {
  background-color: #021016;
}
.primary-blue {
  background-color: white;
  color: #3cbeee;
}
.primary-blue:hover {
  background-color: #3cbeee;
  color: white;
}
.primary-black {
  background-color: #021016;
  color: white;
}
.primary-black:hover {
  background-color: white;
  color: #3cbeee;
}
