.contact-bg {
  background: linear-gradient(rgba(15, 117, 161, 0.648), rgba(15, 75, 112, 0.4)),
    url("../../assets/contact-bg.png");
  padding: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-para {
  max-width: 400px;
}
.contact-heading {
  color: var(--color-blue);
  font-weight: 500;
}
.contact-me li a {
  text-decoration: none;
  color: white;
}
.contact-me li {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.contact-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.contact-form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 20px;
}

.contact-form textarea {
  width: 100%;
  height: 200px;
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.submit-btn button {
  padding: 10px 16px;
  border: none;
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  transition: 0.4s;
}
.submit-btn button:hover {
  color: var(--color-black);
  transform: scale(1.1);
}
