.top-navbar {
  background-color: var(--color-black);
  padding: 14px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect-right {
  display: flex;
  align-items: center;
}
.connect-right li a {
  text-decoration: none;
  color: #f9f8f6;
  display: flex;
  align-items: center;
}
.connect-left {
  display: flex;
  align-items: center;
}
.social-icons {
  color: var(--color-blue);
  font-size: 25px;
  transition: 0.4s;
}
.social-icons:hover {
  color: white;
  transform: scale(1.3);
}

/* main navbar */
.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}
.main-nav .logo-style {
  color: var(--color-black);
  font-size: 35px;
  transition: 0.4s;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px 7%;
  background-color: var(--color-blue);
}

.nav-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.nav-links li a {
  text-decoration: none;
  padding: 0px 20px;
  font-size: 18px;
  color: white;
  transition: 0.4s;
}
.nav-links li a:hover {
  color: var(--color-black);
}

.open-bar {
  display: none;
}
.close-bar {
  display: none;
}
@media (max-width: 990px) {
  .top-navbar {
    display: none;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--color-blue);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    z-index: 1;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
  .nav-links li {
    margin-top: 50px;
  }
  .open-bar {
    display: block;
    background-color: var(--color-black);
    padding: 10px;
    width: 40px;
    transition: 0.4s;
  }

  .main-nav .responsive-nav {
    transform: none;
  }
  .close-bar {
    display: block;
    position: absolute;
    background-color: var(--color-black);
    padding: 10px;
    width: 40px;
    transition: 0.4s;
    top: 21px;
    right: 64px;
  }
}

@media (max-width: 655px) {
  .close-bar {
    top: 21px;
    right: 50px;
  }
  .main-nav .logo-style {
    font-size: 27px;
  }
  .logo {
    font-size: 25px;
    font-weight: 600;
  }
}
