.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px 7%;
  background-color: #f9f8f6;
}

.main-nav .nav-links {
  align-items: center;
  margin-top: 15px;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px !important;
  color: #021016;
  transition: 0.4s;
  cursor: pointer;
}
.nav-links li a:hover {
  color: #00bcd4 !important;
}
.button .sign-up {
  padding: 10px 20px;
}
.button .sign-up:hover {
  background-color: #021016;
}
.login-btn {
  margin-left: 10px;
}
