.contact-box {
  background-color: #00bbd4ba;
  padding: 40px;
  border-radius: 7px;
  transition: 0.4s ease-in-out;
}
.box-href {
  text-decoration: none;
  color: black;
}
.contact-box:hover {
  transform: scale(0.9);
  background-color: #00bcd4;
}
